# Created by https://www.toptal.com/developers/gitignore/api/clojure
# Edit at https://www.toptal.com/developers/gitignore?templates=clojure

### Clojure ###
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo/
.lsp/
*.temp
# End of https://www.toptal.com/developers/gitignore/api/clojure
/resources/public/dynamic/
/.idea/.gitignore
/.idea/clojure-deps.xml
/.idea/ClojureProjectResolveSettings.xml
/.idea/dbnavigator.xml
/.idea/libraries/Deps__babashka_fs_0_5_20.xml
/.idea/libraries/Deps__borkdude_dynaload_0_3_5.xml
/.idea/libraries/Deps__borkdude_edamame_1_3_23.xml
/.idea/libraries/Deps__clj_stacktrace_0_2_8.xml
/.idea/libraries/Deps__clj_tuple_0_2_2.xml
/.idea/libraries/Deps__clojure_future_spec_1_9_0.xml
/.idea/libraries/Deps__clojure_java_time_0_3_3.xml
/.idea/libraries/Deps__com_bhauman_spell_spec_0_1_2.xml
/.idea/libraries/Deps__com_cognitect_transit_clj_1_0_324.xml
/.idea/libraries/Deps__com_cognitect_transit_java_1_0_343.xml
/.idea/libraries/Deps__com_fasterxml_jackson_core_jackson_annotations_2_15_1.xml
/.idea/libraries/Deps__com_fasterxml_jackson_core_jackson_core_2_15_1.xml
/.idea/libraries/Deps__com_fasterxml_jackson_core_jackson_databind_2_15_1.xml
/.idea/libraries/Deps__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_14_1.xml
/.idea/libraries/Deps__com_googlecode_json_simple_json_simple_1_1_1.xml
/.idea/libraries/Deps__com_lucasbradstreet_cljs_uuid_utils_1_0_2.xml
/.idea/libraries/Deps__com_widdindustries_cljc_java_time_0_1_21.xml
/.idea/libraries/Deps__com_widdindustries_cljs_java_time_0_1_20.xml
/.idea/libraries/Deps__com_widdindustries_time_literals_0_1_10.xml
/.idea/libraries/Deps__com_yahoo_platform_yui_yuicompressor_2_4_8.xml
/.idea/libraries/Deps__commons_codec_1_15.xml
/.idea/libraries/Deps__commons_io_2_15_0.xml
/.idea/libraries/Deps__crypto_equality_1_0_1.xml
/.idea/libraries/Deps__crypto_random_1_2_1.xml
/.idea/libraries/Deps__expound_0_9_0.xml
/.idea/libraries/Deps__fi_metosin_reitit_openapi_0_7_0_alpha7.xml
/.idea/libraries/Deps__fipp_0_6_26.xml
/.idea/libraries/Deps__garden_1_3_10.xml
/.idea/libraries/Deps__hiccup_2_0_0_RC2.xml
/.idea/libraries/Deps__http_kit_2_7_0.xml
/.idea/libraries/Deps__integrant_0_8_1.xml
/.idea/libraries/Deps__javax_xml_bind_jaxb_api_2_3_0.xml
/.idea/libraries/Deps__lambdaisland_deep_diff_0_0_47.xml
/.idea/libraries/Deps__meta_merge_1_0_0.xml
/.idea/libraries/Deps__metosin_jsonista_0_3_7.xml
/.idea/libraries/Deps__metosin_malli_0_14_0.xml
/.idea/libraries/Deps__metosin_muuntaja_0_6_8.xml
/.idea/libraries/Deps__metosin_reitit_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_core_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_dev_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_frontend_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_http_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_interceptors_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_malli_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_middleware_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_ring_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_schema_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_sieppari_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_spec_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_swagger_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_reitit_swagger_ui_0_7_0_alpha7.xml
/.idea/libraries/Deps__metosin_ring_swagger_ui_4_19_1.xml
/.idea/libraries/Deps__metosin_schema_tools_0_13_1.xml
/.idea/libraries/Deps__metosin_sieppari_0_0_0_alpha13.xml
/.idea/libraries/Deps__metosin_spec_tools_0_10_5.xml
/.idea/libraries/Deps__mvxcvi_arrangement_2_1_0.xml
/.idea/libraries/Deps__mvxcvi_puget_1_1_2.xml
/.idea/libraries/Deps__ns_tracker_0_4_0.xml
/.idea/libraries/Deps__org_apache_commons_commons_fileupload2_core_2_0_0_M1.xml
/.idea/libraries/Deps__org_clj_commons_hickory_0_7_4.xml
/.idea/libraries/Deps__org_clojure_clojure_1_11_1.xml
/.idea/libraries/Deps__org_clojure_core_async_1_5_648.xml
/.idea/libraries/Deps__org_clojure_core_cache_1_0_225.xml
/.idea/libraries/Deps__org_clojure_core_memoize_1_0_253.xml
/.idea/libraries/Deps__org_clojure_core_rrb_vector_0_1_2.xml
/.idea/libraries/Deps__org_clojure_core_specs_alpha_0_2_62.xml
/.idea/libraries/Deps__org_clojure_data_priority_map_1_1_0.xml
/.idea/libraries/Deps__org_clojure_java_classpath_0_3_0.xml
/.idea/libraries/Deps__org_clojure_spec_alpha_0_3_218.xml
/.idea/libraries/Deps__org_clojure_test_check_1_1_1.xml
/.idea/libraries/Deps__org_clojure_tools_analyzer_1_1_0.xml
/.idea/libraries/Deps__org_clojure_tools_analyzer_jvm_1_2_2.xml
/.idea/libraries/Deps__org_clojure_tools_namespace_0_2_11.xml
/.idea/libraries/Deps__org_clojure_tools_reader_1_3_6.xml
/.idea/libraries/Deps__org_eclipse_jetty_jetty_http_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_jetty_io_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_jetty_security_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_jetty_server_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_jetty_servlet_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_jetty_util_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_jetty_webapp_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_jetty_xml_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_toolchain_jetty_jakarta_servlet_api_5_0_2.xml
/.idea/libraries/Deps__org_eclipse_jetty_websocket_websocket_core_common_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_websocket_websocket_core_server_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_websocket_websocket_jetty_api_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_websocket_websocket_jetty_common_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_websocket_websocket_jetty_server_11_0_18.xml
/.idea/libraries/Deps__org_eclipse_jetty_websocket_websocket_servlet_11_0_18.xml
/.idea/libraries/Deps__org_javassist_javassist_3_18_1_GA.xml
/.idea/libraries/Deps__org_jsoup_jsoup_1_15_2.xml
/.idea/libraries/Deps__org_msgpack_msgpack_0_6_12.xml
/.idea/libraries/Deps__org_ow2_asm_asm_9_2.xml
/.idea/libraries/Deps__org_ring_clojure_ring_jakarta_servlet_1_11_0.xml
/.idea/libraries/Deps__org_ring_clojure_ring_websocket_protocols_1_11_0.xml
/.idea/libraries/Deps__org_slf4j_slf4j_api_2_0_5.xml
/.idea/libraries/Deps__prismatic_schema_1_1_12.xml
/.idea/libraries/Deps__ring_ring_codec_1_2_0.xml
/.idea/libraries/Deps__ring_ring_core_1_11_0.xml
/.idea/libraries/Deps__ring_ring_devel_1_11_0.xml
/.idea/libraries/Deps__ring_ring_jetty_adapter_1_11_0.xml
/.idea/libraries/Deps__talltale_0_5_14.xml
/.idea/libraries/Deps__tech_droit_clj_diff_1_0_1.xml
/.idea/libraries/Deps__tick_0_7_5.xml
/.idea/libraries/Deps__tongue_0_2_6.xml
/.idea/libraries/Deps__weavejester_dependency_0_2_1.xml
/.idea/libraries/Deps__worldsingles_ws_commons_0_1_3.xml
/htmx-examples-clojure.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
